/* TODO: design your profile with CSS */
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  font-size: 28px;
  background-color: #f6f6f6!important;
}


@keyframes float {
  0% {
    box-shadow: 0 5px 25px 0px rgba(0,0,0,0.3);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 25px 0px rgba(0,0,0,0.1);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 25px 0px rgba(0,0,0,0.3);
    transform: translatey(0px);
  }
}





.avatar-float {
  border-radius: 50%;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
}



h1, h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2em;
}

.column div {
  background-color: black;
  position: relative;
}

ul {
  padding: 0;
  list-style: none;
}



.foot-list {
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 33px;
}

.foot-list p,.foot-list a  {
  margin-bottom: 0;
  color: #557092 !important;
}

.lw {
  color: #f76366 !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
}

.cont.cta > p {
  color: #557092 !important;
  max-width: 1210px;
}

.column p {
  position: absolute;
  font-weight: 100;
}

.column p:hover {
  cursor: pointer;
}
.sfooter {
  background-color: #f6f6f6;
}

.banner-c {
  position: relative;
  text-align: center;
  color: black;
  margin-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sfooter h1 {
  color: #120a6d !important !important;
}

/*.cont.cta h1 {
  color: #191545;
}*/

/*.cont.cta h1 {
  color: white;
}
*/

.dark-blue {
  background-color: #120a6d !important;
}

.sfooter p {
  color: #557092 !important;
}

.sfooter .oline {
  /* font-size: 2.5rem !important; */
  -webkit-text-fill-color: #ffffff29 !important;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: #120a6d !important;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
}

a {
  transition: ease all 1s;
  color: #4433ff;
}

a:hover {
  opacity: .6;
}

a, a:hover {
  text-decoration: none !important;
}

.social {
  color: #191444 !important;
}

.sub-banner {
  padding: 80px 0;
  position: relative;
  text-align: left;
  color: white;
  background: black;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.sub-banner > .cont .o-tile {
  letter-spacing: 2px;
    color: #f6f6f6bf;
    font-weight: 900;
    text-transform: uppercase;
}

.special .cont h1 {
  font-family: 'Bebas Neue', cursive;
    font-size: 57px;
    color: #f6f6f6;
    line-height: 65px;
    font-weight: bold;
}

.list-inline {
  font-size: 30px;
  display: flex;
}

.list-item {
  margin-right: 30px;
  color: #191444;
  font-size: 28px;
}

.footer {
  background: #dee2e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 310px;
  color:#557092;
}

.footer p {
  font-size: 18px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.banner {
  position: relative;
  text-align: center;
  color: black;
  height: 50vh;
  min-height: 380px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner p {
  color: #557092;
}
.banner p {
  color: #557092;
}
.banner i {
 font-size: 1rem;
}

.banner  a {
    font-weight: 100;
    font-size: 21px;
    color: #120a6d;
    z-index: 1000000;
  }

.cta a {
  font-weight: bold;
  color: #4254ff;
  transition: ease 1s all;
}

.list-none {
  list-style: none;
}

.card-image-case {
  height: 360px;
  box-shadow: -3px 3px 20px 0px rgb(85 112 146 / 14%);
  object-fit: cover;

}

.card h2, .banner-b h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 57px;
  color: #130a6d;
  line-height: 65px;
  font-weight: bold;
}

.card p {
    letter-spacing: 2px;
    color: #55709269;
    font-weight: 900;
    text-transform: uppercase;
}

.banner-b {
  height: 100vh;
  background: #4254ff;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}


.cta a:hover {
 color: #e98d00;
  text-decoration: none;
}

.cta i {
  margin-left: 23px;
  font-size: 30px;
}

.sfe a {
  font-size: 30px;
    color: #130a6d;
    font-weight: 100;
}

.sfe > :first-child > i {
  margin-left: 0;
}

input.form-control, textarea.form-control {
  width: 100%;
  height: 60px;
  margin-right: 2px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px #4254ff;
  /* border-radius: 0; */
  background-color: #dde2e7;
  font-size: 18.66px;
}

textarea.form-control {
  height: 120px !important;
}

.banner h1, .banner-c h1, .banner-b h1, .ose a {

   font-family: 'Bebas Neue', cursive;
    font-weight: 900;
    line-height: 1;
    font-size: 97px;

  color: #120a6d;
}

.ose a:hover {
  cursor: pointer;
}

.banner  h2 {
   text-align: left;
    font-size: 70px;
    width: 75%;
    margin: auto;
  }
 .banner h2 span {
    color: #218790;
  }

.special-image-wrap {
  z-index: 1000;
  position: absolute;
  bottom: -100px;
  right: 210px;
}

.image-button {
    position: absolute;
    right: -121px;
    border-radius: 70px !important;
    background: #130a6d !important;
    bottom: -10px;
}

.name-button {
  font-size: 21px;
  position: absolute;
  right: -161px;
  background: #f6f6f6 !important;
  border: solid 1px #f6f6f6 !important;
  border-radius: 70px !important;
  bottom: 56px;
  box-shadow: 0px 1px 20px 12px #9292922e;
}


.name-button-head {
  font-size: 21px;
  right: -161px;
  background: #f6f6f6 !important;
  border: solid 1px #f6f6f6 !important;
  font-weight: 100;
  bottom: 56px;
  box-shadow: 0px 1px 20px 12px #9292922e;
}

.name-button-head-2 {
  font-size: 49px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;
  border-radius: 90px;
  right: -161px;
  background: #f6f6f6 !important;
  border: solid 1px #a5a5a547 !important;
  width: 106px;
  height: 106px;
  /* padding: 19px 50px; */
  font-weight: 100;
  bottom: 56px;
  box-shadow: 0px 1px 20px 12px #d2d2d22e;
  color: #4254ff!important;

}

.name-button:hover {
  bac: white !important;
  padding: 10px 25px !important;
  ba
}


.special-image {
    width: 230px;
    height: 230px;
}
.greet {
  color: red;
}

.title-pj {
  letter-spacing: 2px;
    color: #55709269;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px !important;
}

.intro {
  height: 50vh;
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
}


#wrap {
    height: 65vh;
    width: 100%;
}

.serif-hlight {
  font-family: 'Bebas Neue', cursive;
  font-style: italic;
}




.navbar-lewagon {
  justify-content: space-between;
  z-index: 100000000;
  padding: 30px 7px;
  background: transparent;
}

.navbar-lewagon img {
  width: 270px;
}
.navbar-lewagon a {
  color: #557092;
  font-size: 1.2rem;
}
.navbar-lewagon a:hover {
    opacity: .4;

}

.navbar-lewagon .navbar-collapse {
  padding: 20px 30px;
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px;
  grid-gap: 16px;
}

.highlighted-red {
        color: #ffffff;
    background: rgb(77 77 77);
    padding: 8px 12px;
    border: solid 1px white;
    border-radius: 5px;
    font-style: normal;
    font-weight: 100;
    margin: 5px;
  }
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.oline {
  /*font-size: 2.5rem !important;*/
  -webkit-text-fill-color: #ffffff29;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #120a6d;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.case-study-button {
  border: solid 1px #4254ff;
  width: 160px;
  text-align: center;
  padding: 10px;
  color: #f1f4f9;
  background: #4254ff;
}




.column p {
    height: 91%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: left;
    margin: 26px 22px;
}

.column p:hover {

  text-decoration: none;

}

.flickity-page-dots {
  bottom: -62px !important;
}

.column-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.c-1, .c-3 {
  background-size: cover;
  background-position: center;
  background: grey;
}

.formfield {
  max-width: 600px;
}

.c-4, .c-2 {
  background: lightgrey;
  background-size: cover;
  background-position: center;
}

.side-image {
  object-fit: cover;
  object-position: left;
  height: 100vh;
  position: sticky;
  top: 0;
}

.mycontainer {
  display: flex;
}

#banner {
  padding: 70px 0;
  height: 100%;
}

#banner h2 {
  font-size: 2rem;
}
.cta2 a {
  color: white;
}

.cont h3 {
  font-size: 1.5rem;
  color: #120a6d;
}

.contw {
  opacity: .6;
}

.carousel {
  background: #f6f6f6;
}

.carousel-cell {
  width: 320PX !important;
  height: 500px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.social-scroll {
  color: #cccccc;
  font-size: 1.2rem;
  opacity: .2;
}


.white-btn {
  background: white !important;
  border: white !important;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 14%);
}




.flickity-viewport {
  height: 500px;
}

@media (max-width: 575px) {
  .main-carousel {
    display: block;
  }

  .social-scroll {
    display: block;
  }
  .banner {
    height: 77%;
  }
  .linkss a {
    font-size: 2rem;
  }

  #wrap {
    height: 80vh;
  }
  p {
    font-size: 1.3rem;
  }

  .banner h1 {
    font-size: 2rem;
  }
  .column-container {
    display: none;
  }


}

.main-btn {
  transition: ease all .5s;
  padding: 10px 25px !important;
    margin: 0 15px;
    border-radius: 84px;
    margin-right: 0;
    border: solid 1px #4e46a9;
    background: #4353FF;
    color: #ffffff !important;
}

.main-btn.image-button:hover {
  transition: ease all .5s;
  background: #4353FF !important;
  border: solid 1px #4e46a9;
  background: #4353FF;
}

.main-btn:hover {
  opacity: 1;
    border: solid 1px #140a6d;
    background: #120a6d;
  }


/* external css: flickity.css */

.rows {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.column img {
    vertical-align: middle;
    object-fit: cover;
    margin-top: 0;
}

.column img:hover {
    cursor: pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1500px) {
    .banner h1 {
      font-size: 77px;
    }

    .special-image {
      width: 180px;
      height: 180px;
    }
}

@media screen and (max-width: 1150px) {
    .banner h1, .banner-c h1  {
      font-size: 60px;
    }

    .card h2 {
      font-size: 35px;
      line-height: 37px;
    }
    .special-image-wrap {
      bottom: -110px;
      right: 172px;
    }

    #card-offset {
      margin-bottom: 20px;
    }
}

@media screen and (max-width: 900px) {
    .banner h1, .banner-b h1, .banner-c h1 {
      font-size: 60px;
    }
    .special-image-wrap {
      bottom: -33%;
      right: 178px;
    }
    .banner {
    height: 100%;
    min-height: 640px;
    }
    .special .cont h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    color: #f6f6f6;
    line-height: 47px;

  }
  .banner-b {
    height: auto;
    padding: 55px 0
  }
   .footer {
      height: 500px;
    }
}


@media screen and (max-width: 375px) {
    .banner h1,  .banner-b h1, .banner-c h1  {
      font-size: 50px;

    }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column p {
    display: none
  }

  .second-banner {
    display: none;
  }

    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }


}

